.section {
    height: calc(100vh - 31px);
    float: left;

    border: 1px solid;

    border-top: 10px solid;
    padding: 10px 0px;
}

.left-section{
    width: calc(5% - 2px);
}

.section.middle-section {
    width:  calc(75% - 2px);
}

.section.right-section {
    width:  calc(20% - 2px);
}

.tool-button-box {
    margin-top: 10px;
}
